{% extends "base.html" %}



{% block buttons %}
    <a class="button" href="/logout">Logout</a>
    <a class="button" href="/subscriptions.csv">As csv</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            {% for sub in items %}
                <div>
                    <h5>{{sub["snippet"]["title"]}}</h5>
                    <p>{{sub["snippet"]["description"]}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
